.card-header {
  background-color: #004085;
}

.card-body {
  background-color: #e6e4e4;
}

.img-chest {
  height: 80px;
}

.chest-list {
  list-style-type: none;
  display: inline-flex;
  padding-right: 15px;
}

.chest-amount {
  height: 17px;
  position: absolute;
}
