#search {
  width: 50%;
}

button {
  margin-left: 5px;
}

.card-header {
  background-color: #004085;
}

.card-body {
  background-color: #e6e4e4;
}

.card-level {
  position: absolute;
  top: 17px;
}

img {
  height: 20px;
}
.card {
  margin-bottom: 10px;
}
.icon-image {
  height: 40px;
}

#arena {
  height: 35px;
}
