img {
  height: 30px;
}

a.clan-info {
  cursor: pointer;
}
a.clan-info:hover {
  font-size: 2.1rem;
}

form {
  width:100%;
}
button {
  margin-left: 5px;
}


.list-group-item{
  border: 0;
}

#search {
  width: 78%;
}
